@charset "utf-8";
@import url(reset.css);
@import url(../font/GumiRomance/stylesheet.css);

p {
    font-family: 'GumiRomance';
    color: #F986BD;
    font-size: 50px;
    position: absolute;
    top: 28.64%;
    left: 45.26%;
}
#explode {
    width: 100vw;
    overflow: visible;
    text-align: center;
    position: relative;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.container {
    max-width: 100%;
    height: 100vh;
    position: relative;
    opacity: 0;
    background: #345FAF;
    background: radial-gradient(circle, rgba(52, 95, 175, 1) 0%, rgba(33, 69, 136, 1) 100%);
}

.confetti {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 50;
    height: 30px;
    width: 30px;
    z-index: -1;
}

.confetti img {
    width: 100%;
    max-width: 30px;
    position: absolute;
    opacity: 0
}
#wiggle {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50;
     
    
}